html {
    font-family: "Roboto Mono", Roboto, sans-serif
}
.layout-padding {
    padding: 8px;
}
.layout-margin {
    margin: 8px;
}
.page-content {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.mdl-navigation a.nav-link.router-link-active::after {
    height: 3px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: inherit;
    background: rgb(18, 18, 18);
}
.mdl-navigation a.nav-link.router-link-active {
    color: rgba(0,0,0, 0.8);
    font-weight: 700;
}
.mdl-navigation a.nav-link {
    padding: 0 30px;
    width: 145px;
    color: rgba(0,0,0,0.6);
    text-align: center;
    text-decoration: none;
}
.mdl-navigation a.nav-link.intermediate {
    width: 205px;
}
.mdl-navigation a.nav-link.advanced {
    width: 180px;
}

hr.border {
    border-top-color: rgba(0, 0, 0, .8);
    border-top-width: 2px;
    margin-top: 10px;
}

.btn.btn-default {
    border: none;
    border-radius: 2px;
    position: relative;
    height: 40px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow,transform;
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-weight: 300;
    background-color: #4CAF50;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}
.btn.btn-default:hover,
.btn.btn-default:hover[disabled] {
    background-color: #4CAF50;
}

.btn.btn-default:hover[disabled] {
    cursor: not-allowed;
}

.mdl-navigation {
    display: block;
    box-sizing: border-box;
    background-color: rgb(216, 162, 5);
    padding-top: 8px;
    padding-bottom: 5px;
}
.margin-top-20 {
    margin-top: 20px;
}