<div class="content layout-margin">
  <h5>Intermediate Form Example</h5>
  <hr class="border">
  <form (ngSubmit)="onSubmit(f.value)"
        [formGroup]="myForm" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text"
             id="firstName"
             class="form-control"
             formControlName="firstName"
      >
      <div *ngIf="!myForm.controls.firstName.valid && myForm.controls.firstName.touched" class="alert alert-danger">
        <div *ngIf="myForm.controls.firstName.errors && myForm.controls.firstName.errors.required">
          First name is required
        </div>
        <div *ngIf="myForm.controls.firstName.errors && myForm.controls.firstName.errors.invalidStringValidator">
          First name can't contain any numbers or any special characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text"
             id="lastName"
             class="form-control"
             formControlName="lastName">
      <div *ngIf="!myForm.controls.lastName.valid && myForm.controls.lastName.touched" class="alert alert-danger">
        <div *ngIf="myForm.controls.lastName.errors && myForm.controls.lastName.errors.required">
          Last name is required
        </div>
        <div *ngIf="myForm.controls.lastName.errors && myForm.controls.lastName.errors.invalidStringValidator">
          Last name can't contain any numbers or any special characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text"
             id="email"
             class="form-control"
             name="email"
             formControlName="email"
             placeholder="Email address...">
      <div *ngIf="!myForm.controls.email.valid && myForm.controls.email.touched" class="alert alert-danger">Invalid email address</div>
    </div>
    <div class="form-group">
      <label for="creditCard">Credit Card</label>
      <input type="text"
             id="creditCard"
             class="form-control"
             formControlName="creditCard"
             placeholder="Debit/Credit Card Number"
      >
      <div *ngIf="!myForm.controls.creditCard.valid && myForm.controls.creditCard.touched" class="alert alert-danger">
        <div *ngIf="myForm.controls.creditCard.errors && myForm.controls.creditCard.errors.required">Credit card is required</div>
        <div *ngIf="myForm.controls.creditCard.errors && myForm.controls.creditCard.errors.invalidCreditCard">Invalid credit card</div>
      </div>
    </div>
    <div class="form-group">
      <label for="zip">Zip Code</label>
      <input type="text"
             id="zip"
             name="zip"
             class="form-control"
             formControlName="zipCode"
             >
      <div *ngIf="!myForm.controls.zipCode.valid && myForm.controls.zipCode.touched" class="alert alert-danger">
        <div *ngIf="myForm.controls.zipCode.errors && myForm.controls.zipCode.errors.required">Zip code is required</div>
        <div *ngIf="myForm.controls.zipCode.errors && myForm.controls.zipCode.errors.invalidZip">Zip code must be 5 numeric digits</div>
      </div>
    </div>
    <div class="form-group">
      <label for="addressType">Address Type</label>
      <select class="form-control"
              id="addressType"
              name="addressType"
              formControlName="addressType"
              >
        <option [value]="">Select Address Type</option>
        <option [value]="'home'">Home Address</option>
        <option [value]="'billing'">Billing Address</option>
      </select>
      <div *ngIf="!myForm.controls.addressType.valid && myForm.controls.addressType.touched" class="alert alert-danger">
        Address type is required
      </div>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!f.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="clear()">Clear</button>
  </form>
  <hr>
  <div [hidden]="!submitted">
    <div *ngIf="formData">
      <strong>You have submitted the following: </strong>
      <pre>{{ formData }}</pre>
    </div>
  </div>
</div>