<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">A2 Form DEMO</span>
    </div>
    <div class="mdl-navigation">
      <a class="nav-link" [routerLink]="['BasicForm']">Basic Form</a>
      <a class="nav-link intermediate" [routerLink]="['IntermediateForm']">Intermediate Form</a>
      <a class="nav-link advanced" [routerLink]="['AdvancedForm']">Advanced Form</a>
    </div>
  </header>
  <main class="mdl-layout__content layout-margin">
    <div class="page-content layout-padding">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>