<div class="content layout-margin">
  <h5>Basic Form Example</h5>
  <hr class="border">
  <form *ngIf="active" (ngSubmit)="onSubmit()" #basicForm="ngForm">
    <pre>{{ diagnostic }}</pre>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             class="form-control"
             [(ngModel)]="model.name"
             ngControl="name"
             #name="ngForm"
             required>
      <div *ngIf="!name.valid && name.touched" class="alert alert-danger">Name is required</div>
    </div>

    <div class="form-group">
      <label for="Description">Description</label>
      <input type="text"
             id="Description"
             class="form-control"
             [(ngModel)]="model.description"
             ngControl="description"
             #description="ngForm"
             required
      >
      <div *ngIf="!description.valid && description.touched" class="alert alert-danger">Description is required</div>
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control"
              id="power"
              [(ngModel)]="model.power"
              ngControl="power"
              #power="ngForm"
              required
      >
        <option *ngFor="#p of powers" [value]="p">{{ p }}</option>
      </select>
      <div *ngIf="!power.valid && power.touched" class="alert alert-danger">Power is required</div>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!basicForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>

    <hr>
    <div [hidden]="!submitted">
      <div *ngIf="payload">
        <strong>You have submitted the following: </strong>
        <pre>{{ payload }}</pre>
      </div>
    </div>
  </form>
</div>