<div class="content layout-margin">
  <h5>Basic Form Example</h5>
  <hr class="border">
  <form *ngIf="active" (ngSubmit)="onSubmit(form.value)" #form="ngForm" novalidate>
    <pre>{{ diagnostic(form.value) }}</pre>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             name="name"
             class="form-control"
             #name="ngModel"
             ngModel
             required
      >
      <div *ngIf="!name.valid && name.touched" class="alert alert-danger">Name is required</div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text"
             id="description"
             class="form-control"
             name="description"
             #description="ngModel"
             ngModel
             required
      >
      <div *ngIf="!description.valid && description.touched" class="alert alert-danger">Description is required</div>
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control"
              id="power"
              name="power"
              ngModel
              #power="ngModel"
              required
      >
        <option *ngFor="let p of powers" [value]="p">{{ p }}</option>
      </select>
      <div *ngIf="!power.valid && power.touched" class="alert alert-danger">Power is required</div>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>

    <hr>
    <div [hidden]="!submitted">
      <div *ngIf="payload">
        <strong>You have submitted the following: </strong>
        <pre>{{ payload }}</pre>
      </div>
    </div>
  </form>
</div>