<div>
  <p>Survey using Dynamic Form:</p>
  <form (ngSubmit)="onSubmit(f.value)" [formGroup]="form" #f="ngForm">
    <div *ngFor="let question of model.questions" class="form-group">
      <label [attr.for]="question.key">{{ question.text }}</label>
      <div [ngSwitch]="question.controlType">
        <div *ngSwitchCase="'textbox'">
          <input class="form-control"
                 [type]="question.type"
                 [id]="question.key"
                 formControlName="{{ question.key }}">
        </div>
        <div *ngSwitchCase="'dropdown'">
          <select class="form-control" id="{{ question.key }}" formControlName="{{ question.key }}">
            <option *ngFor="let o of question.options" [value]="o.key">{{ o.value }}</option>
          </select>
        </div>
      </div>

      <control-messages [control]="question.key" [parent-form]="form"></control-messages>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!f.valid">Submit</button>
  </form>
  <hr>

  <div [hidden]="!submitted">
    <div *ngIf="formData">
      <strong>You have submitted the following: </strong>
      <pre>{{ formData }}</pre>
    </div>
  </div>
</div>